<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deixe sua mensagem</title>
</head>
<body style="background-color: rgb(196, 108, 247);">
    <header>
        <h1>Formulário de contato</h1>
    </header>
    <article>
        <form action="mailto:tarsilamout15@gmail.com" method="post" 
              oninput="resultado.value = parseInt(valor01.value) + parseInt(valor02.value)">
            <fieldset>
                <legend><strong></strong></legend>
                <br>
                <label for="cNome">Nome</label>
                <input type="text" name="nome" id="cNome" size="50" placeholder="Maria dos Santos Oliveira ">
                <br> <br>
                <label for="email">e-Mail</label>
                    <input type="email" id="email" name="email" size="50" placeholder="exemplo@exemplo.com">
                    <br> <br>
                    <label for="WhastsApp">WhastsApp</label>
                    <input type="text" name="WhastsApp" id="WhastsApp" size="50">
                    <br> <br>
                    <label for="data de nascimento">data de nascimento</label>
                    <input type="text" name="data de nascimento" id="data de nascimento" size="50">
                    <br> <br>
                    <textarea name="msg" cols="30" rows="10" placeholder="Digite sua mensagem" required></textarea>
                <br><br>
                <input type="submit" value="enviar">

                    
    </article>
</body>
</html>