<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>entretenimento</title>
</head>
<body>
         <!--Cabeçalho do meu site-->
    <header>
        <!--aqui começa meu logo-->
       <section>
          <img src="transferir.jfif" alt="" height="200px" width="200px">
       </section>
       <!--NAVEGAÇÃO (MENU) -->
       <NAV style="color: blue;">
           <a href="mySite.html">Sobre mim</a>
           <a href="entretenimento.html">Entretenimento</a>
           <a href="musicas.html">Música</a>
           <a href="contato.html">Fale comigo</a>
       </NAV>
       <hr>
       </header>
   
       <!--Conteúdo Principal do MySite-->
       <!--conteúdo de entretenimento-->
       <!--Exemplo de uso article-->
      <article>
        <h3>elementos</h3>
        <h5>curto: 5/5</h5>
        <p>
            <img src="elementos.jpeg" alt="" height="200px" width="160px">
        </p>
        <p>
            <strong>elementos</strong> Em uma cidade onde os fogo, água, terra e ar convivem, uma jovem mulher flamejante <br>
             e um rapaz que vive seguindo o fluxo descobrem algo suepreendente, porém elementar: o quanto eles têm em comum.
        </p>
        <hr>

      </article>
      <h3>Um sonho de liberdade</h3>
      <h5>curto 5/5</h5>
      <p>
        <img src="sonho.jfif" alt="imagem da capa do filme" height="200px" width="160px">
      </p>
      <strong>Um sonho de liberdade</strong> Andy Dufresne é condenado a duas prisões perpétuas consecutivas pelas mortes de sua esposa e de seu amante. <br> Porém, só Andy sabe que ele não cometeu os crimes. No presídio, durante dezenove anos, ele faz amizade com Red, sofre as brutalidades da vida na cadeia, se adapta, ajuda os carcereiros, etc.
      <p>
        <hr>
    </article>
    <h3>o silêncio dos inocentes</h3>
    <h5>curto 5/5</h5>
    <p>
      <img src="R.jfif" alt="imagem da capa do filme" height="200px" width="160px">
    </p>
    <strong>silencio dos inocentes</strong> Clarice Starling (Jodie Foster), agente novata do FBI, procura por um <br> assassino que ataca mulheres jovens e depois retira suas peles. Para construir o perfil psicológico deste psicopata,<br> recorre à ajuda de um assassino preso que agia de forma semelhante. É o dr. Hannibal Lecter (Anthony Hopkins), um psiquiatra canibal.
    <p>
      <hr>
    </article>
    <h3>Como Eliminar seu chefe</h3>
    <h5>curto 5/5</h5>
    <p>
      <img src="chefe.jfif" alt="imagem da capa do filme" height="200px" width="160px">
    </p>
    <strong>Como Eliminar seu chefe</strong>Três secretárias cansadas de seu chefe machista, egoísta e mentiroso alimentam sonhos de vingança. <br> A fantasia se torna realidade quando elas sequestram o chefe para forçá-lo a autorizar melhorias no escritório.
    <p>
      <hr>
    </article>
    <h3>A Lista de Schindler</h3>
    <h5>curto 5/5</h5>
    <p>
      <img src="lista.jfif" alt="imagem da capa do filme" height="200px" width="160px">
    </p>
    <strong>A Lista de Schindler</strong>O alemão Oskar Schindler viu na mão de obra judia uma solução barata e viável para lucrar com negócios durante a guerra. Com sua forte influência dentro do partido nazista, foi fácil conseguir as autorizações e abrir uma fábrica. O que poderia parecer uma atitude de um homem não muito bondoso, transformou-se em um dos maiores casos de amor à vida da História, pois este alemão <br> abdicou de toda sua fortuna para salvar a vida de mais de mil judeus em plena luta contra o extermínio alemão.
    <p>
      <hr>
        <strong><!DOCTYPE html>
            </body>
<html lang="pt-br">
