<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Musicas</title>
</head>
<body>
   <!--Cabeçalho ou Início do meu site-->
   <header style="display: flex;">
    <!--Section Foto de perfil-->
    <section>
        <img src="transferir.jfif" alt="Imagem de perfil" height="100px" width="100px">
    </section>
    <!--Section Informações Pessoais-->
    <section>
        <br> <br>
        &nbsp;&nbsp;&nbsp;
        Tarsila | 20 Anos | @tarsila_mouraa | <br>
        &nbsp;&nbsp;tarsilamout15@gmail.com| Gemeos
    </section>
</header>
<!--Navegação da minha página-->
<nav>
    <!--Tag <a href=""> refere-se ao link de navegação-->
        <hr>
    <a href="mySite.html">Eu e Eu mesmo</a>
    <a href="entretenimento.html">Entretenimento</a>
    <a href="musicas.html">Músicas</a>
    <a href="contato.html">fale comigo</a>
        <hr>
</nav>

<!--Aqui começa minha lista-->
<main>
    <ol>
        <li>Raphaela Santos - Quem é o Louco Entre Nós</li>
        <li>Mc davi - Prive</li>
        <li>Despechá - Rosalía</li>
        <li>Ann Marie - Secret ft</li>
        <li>Delacruz, Mc Du Black - Tudo Aconteceu</li>
        <li>Rosalía - Di Mi Nombre</li>
        <li>Mc cabelinho, Oruam, Palma - Bem melhor</li>
        <li>Oruam - Assunto Particular</li>
        <li>Grazi almeida, Mc Tocha - lágrimas Vão e Vem</li>
        <li>Racionais MC's - Vida loka, Pt.1</li>
    </ol>
</main>
<!--Rodapé-->
<footer>
    By Tarsila &copy;
</footer>
</body>
</html>