<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body style="background-color: aquamarine;">
    <!--Cabeçalho do meu site-->
    <header>
     <!--aqui começa meu logo-->
    <section>
       <img src="transferir.jfif" alt="foto de perfil" height="200px" width="200px">
       <br> <br>
       &nbsp;&nbsp;&nbsp;
       Tarsila | 20 Anos | @tarsila_mouraa | <br>
       &nbsp;&nbsp;tarsilamout15@gmail.com| Gemeos
       <br> <br>
    </section>
    <!--NAVEGAÇÃO (MENU) -->
    <NAV style="color: blue;">
        <a href="mySite.html">Sobre mim</a>
        <a href="entretenimento.html">Entretenimento</a>
        <a href="musicas.html">Música</a>
        <a href="contato.html">Fale comigo</a>
    </NAV>
    </header>

    <!--Conteúdo Principal do MySite-->
    <main>
        <h1>Conheça um pouco do meu mundo</h1>
        <p>
            Olá, meu nome é Tarsila ,<br>
            tenho 20 anos , 
            gosto de animais ,<br>
            da natureza e de assistir filmes
            <h3>tópicos sobre mim</h3>
            <Ul>
                <li>minhas cores favoritas são:
                    <ul> 
                        <li>preto</li>
                        <li>verde</li>
                        <li>azul</li>
                    </ul>
                </li>
                <li>minha comida preferida é coxinha e batata frita</li>
                <li>minha matéria preferida é Potuguês e História</li>
            </Ul>
            <hr>
            <h3>meus hobbies são:</h3>
            <ul><!--lista não ordenada-->
                <li>gosto de ler</li>
                <li>conhecer lugares novos</li>
                <li>ir a praia</li>
                <li>escutar música</li>
            </ul>
            <hr>
        </p>
    </main>
    <!--rodapé-->
    <footer>
         By Tarsila  &copy;
    </footer>
</body>
</html>